@media (max-width: 1199px) {
    .call-info {
	    margin-left: 30px;
	    margin-right: 30px;
	}

	.mainmenu li a {
	    font-size: 13px;
	}

	.hero-area h1 {
	    font-size: 50px;
	}

	.hero-area h1 span {
	    font-size: 24px;
	}

	.hero-area .site-btn {
	    font-size: 18px;
	}

	.section-heading .title {
	    font-size: 50px;
	}

	.newslater-area .title {
	    font-size: 50px;
	}

	.heroimg {height: 90%;}
}

@media (max-width: 991px) {
    .site-header .mainmenu {
    display: none;
}

.site-header .call-info {
    display: none;
}

.sideicon {
    display: inline-block;
}

.site-header .social-links {
    display: none;
}

.header-left-wrap {
    justify-content: space-between;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: #222;
}

.hamburger-menu .call-info {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.hamburger-menu .mainmenu {
    display: block;
    margin-bottom: 50px;
}

.hamburger-menu .social-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hamburger-menu .mainmenu li {
    margin: 0;
}

.sidebarlists ul li a {
    margin: 15px 0;
}
.single-service-box {
    text-align: left;
    }
	img.heroimg {width: 445px;}
	img.newslater {
    max-width: 344px;
    z-index: -1;
}
.site-footer .header-left-wrap {
    flex-direction: column;
}

.site-footer .header-left-wrap .site-logo {
    margin-bottom: 30px;
}

.site-footer .header-left-wrap .call-info {
    margin-bottom: 30px;
}

.site-footer .social-links {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.copyright-text {
	text-align: center;
}
}

@media (max-width: 460px) {
    .section-heading .title {
	    font-size: 36px;
	}

	.package-heading {
	    padding: 40px 0;
	}

	.newslater-area .title {
	    font-size: 36px;
	}

	.heroimg {
	    width: 55% !important;
	    height: 50%;
	}

	.hero-area {
	    padding: 120px 0;
	    padding-top: 100px;
	}
	.site-footer .mainmenu ul {
    flex-direction: column;
}

.site-footer .mainmenu ul li {
    margin: 0;
}

.site-footer .mainmenu ul li:not(:first-child) {
    margin-top: 15px;
}
}
